<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Orders</title>
</head>
<body>
<div th:include="header :: headerr"></div>
<div class="container">
<h1>Orders</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col" th:unless="${own}">Participant</th>
        <th scope="col" th:if="${own}"></th>
        <th scope="col" th:unless="${own}"th:if="${own}">Link</th>
        <th scope="col" th:if="${own}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ord:${resources}">
        <th th:text="${ord.content.idd}">0</th>
        <th th:text="${ord.content.product.name}">0</th>
        <th th:text="${ord.content.size}">0</th>
        <th th:text="${ord.content.price}">0</th>
        <th th:text="${ord.content.sideOfSell}?'Sell':'Buy'">0</th>
        <th th:unless="${own}"  th:text="${ord.content.participant.name}">0</th>
        <th><a th:if="${own}" th:href="@{'/update/'+${ord.content.idd}}">Update</a></th>
        <th> <a th:unless="${own}" th:href="@{${ord.getLink('self').getHref()}}">Choose</a></th>
        <th> <a th:if="${own}" th:href="@{/del(link=${ord.getLink('self').getHref()})}">Delete</a></th>
    </tr>
    </tbody>
</table>
<br/>
    <a th:unless="${own}" class="btn btn-primary" href="/save">Save own order</a>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>